/* Font installs */
@font-face {
    font-family: 'GT Walsheim Pro';
    src: 
      url(GTWalsheimPro-Light.woff2) format('woff2'),  
      url(GTWalsheimPro-Light.woff) format('woff');
    font-weight: 300; /* Light */
  }
 
  @font-face {
    font-family: 'GT Walsheim Pro';
    src: 
      url(GTWalsheimPro-Regular.woff2) format('woff2'), 
      url(GTWalsheimPro-Regular.woff) format('woff');
    font-weight: 400; /* regular */
  }

  @font-face {
    font-family: 'GT Walsheim Pro';
    src: 
      url(GTWalsheimPro-Bold.woff2) format('woff2'),
      url(GTWalsheimPro-Bold.woff) format('woff');
    font-weight: 700; /* bold */
  }

body {
    font-family: 'GT Walsheim Pro';
    font-size: 48px;
    font-weight: 400;
    line-height: 1.25;
}

/* Body text */
.body-sm-light {
    font-weight: 300;
    font-size: 0.5em;
  }

  .content {
    font-size: 0.5em;
  }

  .body-content {
    padding-left: 60px;
  }


