body { 
    color: #050505;
    margin: 0;
    padding: auto 1em auto 1em;
}

header, .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
}

.logo img {
    width: 6em;
    height: auto;
}

nav ul {
    display: flex;
    list-style-type: none;

}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}


.hero {
    background-color: #F9EC31;
    padding: 2em;
}

.decorative-line-short {
    width: 50px;
    height: 2px;
    background-color: #000; /* Or any color you prefer */
    border: none;
    margin: 20px 0; /* Adjust spacing as needed */
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
}

.footerNav {
   background-color: #050505;;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em 4em 1em;
  
}

.footerLogo img {
    width: 3em;
    height: auto;
}

/* Add media query for responsiveness */
@media screen and (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}